.difficultyContainer {
  width: 100%;
  height: 100vh;
  background-color: var(--bgBody);
  transition: var(--transition);
  position: relative;
  color: var(--text);
  overflow: hidden;
}

.mascotAlertSelection {
  width: 180px;
  height: 100px;
  position: absolute;
  background-image: url(../mediaSvg/empAlert.svg);
  background-repeat: no-repeat;
  background-size: cover;
  top: 100px;
  transform: translateX(-50%);
  transition: 0.8s ease-in-out left;
  z-index: 10;
}
.alertCatDiffBanner {
  width: 220px;
  padding: 5px 5px;
  border-radius: 10px;
  background-color: red;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  z-index: 5;
}
.mascotAlertSelectionView {
  left: 50%;
}
.mascotAlertSelectionHiden {
  left: -200px;
}

.selectionContainer {
  width: 60%;
  height: fit-content;
  border-radius: 10px;
  /* background-color: aqua; */
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: var(--generalText);
}
.selectOption {
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* background-color: blueviolet; */
  padding: 10px;
}
.selectCategoryDifficulty {
  width: 50%;
  height: 45px;
  font-size: 15px;
  font-weight: bolder;
  border: none;
  border-radius: 30px;
  text-align: center;
}
.btnEnjoy {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  background-color: cadetblue;
  border: solid 3px white;
  cursor: pointer;
  animation: nameInput 1s linear;
  color: white;
}
.randomContainer {
  width: 65%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: var(--nav);
  transition: var(--transition);
}
.sentenceRandom {
  margin-top: 10px;
}
.sentenceRandomEmpGenius {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}
.empGenius {
  width: 170px;
  height: 100px;
  margin: 10px;
  /* background-color: blue; */
  background-image: url(../mediaSvg/empGenius.svg);
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 957px) {
  .randomContainer {
    width: 95%;
    margin: none;
  }
  .selectionContainer {
    width: 95%;
  }
  .selectCategoryDifficulty {
    width: 90%;
    font-size: 12px;
    font-weight: bolder;
  }
  .sentenceRandom {
    font-size: 15px;
  }
}
