.popupGameContainer {
  width: 300px;
  height: 400px;
  /* max-height: fit-content; */
  border-radius: 10px;
  background-color: rgb(218, 206, 192);
  position: absolute;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  overflow: hidden;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
.infoSavePopup {
  width: 100%;
  height: 400px;
  position: absolute;
  transition: 1s ease-in-out;
}
.changeName {
  width: 100%;
  height: 40px;
  background-color: red;
}

.saveMsgPopup {
  width: 100%;
  height: 400px;
  background-color: yellow;
  position: absolute;
  transition: 1s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.infoBeforeSave {
  font-size: 0.6rem;
}
.scoreListPopup {
  width: 100%;
  height: 400px;
  background-color: rgb(95, 158, 160);
  position: absolute;
  transition: 1s ease-in-out;
}

.containerSave {
  background-color: aqua;
}
/* --------------------UP ------------------- */
.topCard {
  width: 100%;
  height: 55%;
  background-color: rgb(234, 230, 222);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
.scorePopup {
  width: 80%;
  height: 70px;
  border-radius: 10px;
  border: solid 1px black;
}
/* --------------------CENTER ------------------- */
.centerCard {
  width: 100%;
  height: 30%;
  display: flex;
  position: relative;
}
.leftGame {
  width: 50%;
  height: 100%;
  background-color: rgb(214, 122, 100);
}
.centerSaveBtn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.rightGame {
  width: 50%;
  height: 100%;
  background-color: rgb(170, 201, 195);
}
/* --------------------BOTTOM ------------------- */
.bottomCard {
  width: 100%;
  height: 15%;
  background-color: rgb(234, 230, 222);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.changeNameContainer {
  width: 80%;
  height: 70px;
  border: solid 1px black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.inputChangeName {
  height: 30px;
  border: none;
  text-align: center;
  border-radius: 10px;
}
