.welcomeContainer {
  width: 100%;
  height: 100vh;
  background-color: var(--bgBody);
  transition: var(--transition);
  position: relative;
  overflow: hidden;
}
.bgGlobalBlack {
  background-image: url(../mediaSvg/bgGameBlack.svg);
}
.bgGlobalWhite {
  background-image: url(../mediaSvg/bgGameWhite.svg);
}
.mascotteAlert {
  width: 180px;
  height: 100px;
  position: absolute;
  background-image: url(../mediaSvg/empAlert.svg);
  background-repeat: no-repeat;
  background-size: cover;
  top: 100px;
  transition: 0.8s ease-in-out left;
  z-index: 10;
  /* background-color: aqua; */
}
.msgMascotteBanner {
  width: 180px;
  padding: 5px 5px;
  border-radius: 10px;
  background-color: red;
  position: absolute;
  top: -20px;
  color: white;
  z-index: 5;
}
.mascotteAlertHidden {
  left: -180px;
  transform: translateX(-50%);
}
.mascotteAlertView {
  left: 50%;
  transform: translateX(-50%);
}
.cardWelcomeContainer {
  width: 350px;
  height: 150px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.cardWelcome {
  width: 350px;
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  background-image: url(../mediaSvg/card.svg);
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(-50%, -50%);
  transform-origin: 0 100%;
}
.One {
  animation: cardOne 2s ease forwards;
  background-color: rgb(136, 171, 165);
}

.Two {
  background-color: rgb(211, 226, 213);
  animation: cardTwo 2s ease forwards;
}
.Three {
  background-color: rgb(186, 209, 205);
  animation: cardThree 2s ease forwards;
}
.Four {
  background-color: rgb(136, 171, 165);
  animation: cardFour 2s ease forwards;
}
@keyframes cardOne {
  0% {
    transform: translate(-50%, -50%) rotate(-90deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(15deg);
  }
}
@keyframes cardTwo {
  0% {
    transform: translate(-50%, -50%) rotate(-90deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(5deg);
  }
}
@keyframes cardThree {
  0% {
    transform: translate(-50%, -50%) rotate(-90deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-5deg);
  }
}
@keyframes cardFour {
  0% {
    transform: translate(-50%, -50%) rotate(-90deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-15deg);
  }
}
.msgAlert {
  width: 200px;
  font-size: 15px;
  height: fit-content;
  background-color: red;
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.msgAlertOpen {
  top: 0px;
  transition: 0.5s ease-in-out top;
}
.msgAlertClose {
  top: -40px;
  transition: 1s ease-in-out top;
}

.welcomeSection {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  display: flex;
  flex-direction: column;
}

.titleUpDown {
  transition: var(--transition);
  padding: 20px;
  font-family: var(--fontTitle);
  font-weight: bolder;
  position: relative;
}
.circleContainer {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 35%;
  left: 35%;
  transform: translate(-50%, -50%);
  z-index: 1;
  animation: rotate 1s cubic-bezier(0.5, 1, 1, 0.5) infinite; /* accelerazione al centro */
  transform-origin: center;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.circleOne,
.circleTwo,
.circleThree,
.circleFour {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.circleOne {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgb(255, 132, 0);
}

.circleTwo {
  background-color: coral;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.circleThree {
  background-color: yellowgreen;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.circleFour {
  background-color: rgb(247, 88, 152);
  position: absolute;
  top: 0px;
  right: 0px;
}

.titleDown {
  position: relative;
}
.trivalTitle {
  color: rgb(34, 34, 59); /* Colore interno del testo */
  text-shadow: 1px 1px 0 var(--text),
    /* Ombra in basso a destra */ -1px -1px 0 white,
    /* Ombra in alto a sinistra */ 1px -1px 0 white,
    /* Ombra in alto a destra */ -1px 1px 0 white; /* Ombra in basso a sinistra */
}
.lineFlash {
  width: 35px;
  height: 5px;
  background-color: var(--text);
  position: absolute;
  right: -35px;
  bottom: 15px;
  animation: lineFlash 1s linear infinite;
}
@keyframes lineFlash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.hiddenE {
  position: absolute;
  right: -30px;
  animation: letter 0.5s linear;
}

@keyframes letter {
  0% {
    top: -500px;
    right: -30px;
  }
  100% {
    top: 0px;
    right: -30px;
  }
}

.titleUp,
.titleDown {
  width: fit-content;
  height: 100px;
}

.test2 {
  width: 200px;
  height: 200px;
}
.nameInputContainer {
  padding: 10px;
  background-color: rgb(0, 255, 17);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 1;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  animation: nameInput 1s linear;
}
.nameInput {
  width: 190px;
  height: 45px;
  background-color: rgb(232, 232, 232);
  text-align: center;
  font-size: 20px;
  font-weight: bolder;

  border-radius: 30px;
  border: none;
  animation: nameInput 1s linear;
}

@keyframes nameInput {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.scoreList {
  width: 400px;
  height: 80vh;
  padding: 10px;
  position: absolute;
  z-index: 10;
  color: white;
  border-radius: 0px 10px 10px 10px;
  font-size: 12px;
}
.scoreList::-webkit-scrollbar {
  display: none; /* Nasconde la barra in Chrome, Safari e Edge moderno */
}
.scoreListOpen {
  top: 100px;
  right: 0px;
  transition: 1s ease-in-out right;
}
.scoreListClose {
  top: 100px;
  right: -400px;
  transition: 1s ease-in-out right;
}
.btnTitleTable {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  position: relative;
  scrollbar-width: none; /* Nasconde la barra in Firefox */
  -ms-overflow-style: none; /* Nasconde la barra in IE e Edge */
  h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
  }
}
/* .openCloseList {
  width: 50px;
  height: 50px;
  background-image: url(../mediaSvg/openBanner.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: blueviolet;
  border-radius: 50% 0 0 50%;
  cursor: pointer;
  left: -50px;
  top: 0;
  position: absolute;
  text-align: center;
  z-index: 20;
} */

.infoScoreContainer {
  width: 100%;
  margin-bottom: 10px;
}

.nameUser {
  width: 100%;
  padding: 5px;

  border-radius: 5px 5px 0 0;
}

.categoryInfo {
  width: 55%;
  padding: 5px;
  margin: auto;
}
.dificultyInfo {
  width: 15%;
  padding: 5px;
  text-align: center;
  margin: auto;
}
.scoreInfo {
  width: 15%;
  padding: 5px;
  text-align: center;
  margin: auto;
}
.geniousInfo {
  width: 15%;
  padding: 5px;
  /* background-color: coral; */
  text-align: center;
}
@media (max-width: 957px) {
  .cardWelcomeContainer {
    top: 75%;
  }
  .scoreList {
    width: 100%;
    height: 70vh;
  }
  .scoreListClose {
    right: -100%;
  }
}
