.welcomeContainer {
  width: 100%;
  height: 100vh;
  background-color: var(--bgBody);
  transition: var(--transition);
  position: relative;
  color: var(--text);
  overflow: hidden;
}
.cardWelcomeContainer {
  width: 350px;
  height: 150px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.cardWelcome {
  width: 350px;
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  background-image: url(../mediaSvg/card.svg);
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(-50%, -50%);
  transform-origin: 0 100%;
}
.One {
  animation: cardOne 2s ease forwards;
  background-color: rgb(255, 85, 0);
}
/* .One::before {
  content: "";
  width: 90%;
  height: 25px;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgb(54, 51, 51);
  border-radius: 30px;
  } */
.Two {
  background-color: rgb(251, 255, 0);
  animation: cardTwo 2s ease forwards;
}
.Three {
  background-color: rgb(4, 255, 0);
  animation: cardThree 2s ease forwards;
}
.Four {
  background-color: rgb(230, 0, 255);
  animation: cardFour 2s ease forwards;
}
@keyframes cardOne {
  0% {
    transform: translate(-50%, -50%) rotate(-90deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(15deg);
  }
}
@keyframes cardTwo {
  0% {
    transform: translate(-50%, -50%) rotate(-90deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(5deg);
  }
}
@keyframes cardThree {
  0% {
    transform: translate(-50%, -50%) rotate(-90deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-5deg);
  }
}
@keyframes cardFour {
  0% {
    transform: translate(-50%, -50%) rotate(-90deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-15deg);
  }
}
.msgAlert {
  width: 200px;
  height: fit-content;
  background-color: red;
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 0 0 10px 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.msgAlertOpen {
  top: 80px;
  transition: 0.5s ease-in-out top;
}
.msgAlertClose {
  top: -50px;
  transition: 1s ease-in-out top;
}
.welcomeSection {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  display: flex;
  flex-direction: column;
}

.titleUpDown {
  /* background-color: var(--bgBody); */
  transition: var(--transition);
  padding: 20px;
  font-family: var(--fontTitle);
  font-weight: bolder;
  position: relative;
  /* background: var(--bgBody);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18); */
}
.circleContainer {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 35%;
  left: 35%;
  transform: translate(-50%, -50%);
  z-index: 1;
  animation: rotate 1s cubic-bezier(0.5, 1, 1, 0.5) infinite; /* accelerazione al centro */
  transform-origin: center;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.circleOne,
.circleTwo,
.circleThree,
.circleFour {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.circleOne {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgb(255, 132, 0);
}

.circleTwo {
  background-color: coral;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.circleThree {
  background-color: yellowgreen;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.circleFour {
  background-color: rgb(247, 88, 152);
  position: absolute;
  top: 0px;
  right: 0px;
}

.titleDown {
  position: relative;
}
.lineFlash {
  width: 35px;
  height: 5px;
  background-color: var(--text);
  position: absolute;
  right: -35px;
  bottom: 15px;
  animation: lineFlash 1s linear infinite;
}
@keyframes lineFlash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.hiddenE {
  position: absolute;
  right: -30px;
  animation: letter 0.5s linear;
}

@keyframes letter {
  0% {
    top: -500px;
    right: -30px;
  }
  100% {
    top: 0px;
    right: -30px;
  }
}

.titleUp,
.titleDown {
  width: fit-content;
  height: 100px;
}

.nameInputContainer {
  width: 200px;
  height: 200px;
  padding: 10px;
  background-color: rgb(0, 255, 17);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 1;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.nameInput {
  width: 190px;
  height: 45px;
  background-color: rgb(232, 232, 232);
  text-align: center;
  font-size: 20px;
  font-weight: bolder;

  border-radius: 30px;
  border: none;
  animation: nameInput 1s linear;
}
.btnNameInput {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: none;
  background-color: cadetblue;
  cursor: pointer;
  animation: nameInput 1s linear;
  color: white;
}
@keyframes nameInput {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.scoreList {
  width: 350px;
  height: fit-content;
  background-color: rgb(170, 105, 2);
  position: absolute;
  z-index: 10;
  color: white;
  border-radius: 10px;
  font-size: 12px;
}
.scoreListOpen {
  top: 100px;
  right: 0px;
  transition: 1s ease-in-out right;
}
.scoreListClose {
  top: 100px;
  right: -350px;
  transition: 1s ease-in-out right;
}
.btnTitleTable {
  width: 100%;
  height: 90%;
  /* background-color: aqua; */
  position: relative;
}
.openCloseList {
  width: 50px;
  height: 50px;
  background-image: url(../mediaSvg/openBanner.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: blueviolet;
  border-radius: 50% 0 0 50%;
  cursor: pointer;
  left: -50px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}
@media (max-width: 957px) {
  .cardWelcomeContainer {
    top: 75%;
  }
  .scoreList {
    width: 100%;
  }
  .scoreListClose {
    right: -100%;
  }
}
