* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.btn {
  width: 100px;
  height: 30px;
  background-color: greenyellow;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.noDecoration {
  text-decoration: none;
  color: var(--text);
}

:root {
  --bgBodyStatic: rgb(37, 90, 74);
  --text: gold;
  --transition: 2s ease;
  --fontTitle: "Galada", cursive;
  /* font-weight: 400; */
  /* font-style: normal; */
}

[data-theme="light"] {
  --bgBody: rgb(185, 184, 184);
  --nav: rgb(168, 167, 167);
}
[data-theme="dark"] {
  --bgBody: rgb(7, 27, 10);
  --nav: rgb(14, 59, 20);
}
