* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--bgBody);
  transition: var(--transition);
}
.btn {
  width: 100px;
  height: 30px;
  background-color: rgb(168, 204, 218);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.noDecoration {
  text-decoration: none;
  color: var(--text);
}

:root {
  --bgBodyStatic: rgb(37, 90, 74);
  --text: rgb(245, 112, 16);
  --transition: 2s ease;
  --fontTitle: "Galada", cursive;
}

[data-theme="light"] {
  --generalText: rgb(30, 30, 30);
  --bgBody: rgb(185, 184, 184);
  --nav: rgb(168, 167, 167);
}
[data-theme="dark"] {
  --generalText: rgba(255, 255, 255);
  /* --bgBody: rgb(7, 27, 10); */
  --bgBody: rgb(1, 39, 32);
  --nav: rgb(15, 100, 90);
}

/* general styles */
/* NORMAL BUTTON */
.btnGeneral {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  background-color: rgb(65, 93, 88);
  border: solid 2px white;
  cursor: pointer;
  /* animation: nameInput 1s linear; */
  color: rgb(255, 255, 255);
}

/* BUTTON GENIUS WITH IMG LAMP */
.btnAndRotation {
  width: 100px;
  height: 100px;
  /* background-color: aqua; */
  position: relative;
}
.btnRotation {
  width: 86px;
  height: 86px;
  border-radius: 50%;
  background: rgb(247, 247, 247);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  cursor: pointer;
  overflow: hidden;
}
.btnRotation::after {
  content: "";
  width: 185px;
  height: 185px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    -45deg,
    rgba(255, 255, 255, 1) 15%,
    rgb(15, 100, 90) 50%,
    rgba(255, 255, 255, 1) 85%
  );
  position: absolute;
  top: -85px;
  left: 50%;
  /* rotate: 45deg; */
  transform: translate(-50%, -50%);
  animation: rotateGenius 1.5s infinite;
  z-index: 0;
}
@keyframes rotateGenius {
  0% {
    transform: translate(-50%, -150px) rotate(45deg);
  }
  100% {
    transform: translate(-50%, 200px) rotate(45deg);
  }
}

.btnGeniusWithLamp {
  background-image: url(./mediaSvg/genius.png);
}
/* BUTTON WITHOUT IMG LAMP */

.btnGeniusNoLamp {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: cadetblue;
  cursor: pointer;
  z-index: 1;
  color: white;
}

/* TEMA SCURO */
.scuro {
  background-color: rgb(15, 100, 90);
  background-color: rgb(245, 112, 16);
  background-color: rgb(34, 34, 59);
  background-color: rgb(186, 209, 205);
  background-color: rgb(232, 240, 233);
  background-color: rgb(1, 39, 32);
  background-color: rgb(235, 49, 1);
  background-color: rgb(5, 5, 14);
  background-color: rgb(136, 171, 165);
  background-color: rgb(211, 226, 213);
}

/* THEMA CHIARO */

/* .chiaro {
} */
